.artistDetails{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #EEEEEE;
}
.artistInfo h2{
    color: #1E1E1E;
    margin: 0px 16px 16px 16px;
}

.artistAvatar{
    text-align: center;
    justify-content: center;
    padding-top: 16px;
}
.artistAvatar img{
    width: 200px;
    border-radius: 50%;
}

.artistInfo{
    margin: 16px;
}
.artistInfo p{
    font-size: 0.7em;
    margin: 0px;
}

@media screen and (min-device-width : 480px) {

.artistDetails{
    flex-direction: row;
    text-align: center;
    align-items: center;
}

}
