.navbar-container {
  padding: 5px;
  background: transparent;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color : rgb(238,238,238);
  /*z-index: 100000;
  position: fixed;*/
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 0;
  width: 100%;
  height: 10vh;
}

.nav-logo:hover {
  color: #ffc228;
  border: 1px solid #ffc228;
  border-radius: 12%;
  padding: 5px;
}

.nav-logo {
  width: 60px;
  height: 60px;
  padding: 6px;
  color: #ffc228;
  margin: 10px;
}


nav {
  display: flex;
  align-items: center;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
}

.nav-title {
  Color : rgb(104,98,97);
  margin-left: 0px;
  margin-right: 50px;
  font-size: 25px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.nav-title:hover {
  color: #ffc228;
}

.Wlogo {
  width: 60px;
  height: 60px;
  padding: 6px;
  margin-left: 10px;
}

.w-logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-title {
  margin-left: 7px;
  font-size: 30px;
  font-family: sans-serif;
  color : #ffc228;
  font-weight: bold;
}


/* Responsive Design */

@media screen and (max-width:700px) {
  .navbar-container {
    position: fixed;
    bottom: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    z-index: 10;
  }

  .nav-logo {
    margin: 8px;
  }

  .nav-title {
    display: none;
  }

  .logo-title {
    display: none;
  }
}
