.artistAlbum{
    display: flex;
    flex-direction: column;
    width: 17%;
    margin: 10px 5px;
    padding: 5px;
}

.artistAlbum img{
    opacity: 0.8;
    border-radius: 12px;
    width: 100%;
}

.artistAlbum img:hover{
    opacity: 1.0;
}

.artistAlbum p{
    font-size: medium;
    margin: 0px;
    color: white;
}


