.artistAlbums {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding-top: 20px;
    margin: 10px 10px;
    /* border:#fcc228 1px solid; */
    /* background-color: rgb(38, 0, 53); */
    /* border-radius: 2px 2px 0px 0px; */
    justify-content: center;
}

.albumsPages{
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    /* background-color: rgb(38, 0, 53); */
    /* border:#fcc228 1px solid; */
    border-radius: 0px 0px 2px 2px;
    justify-content: center;
    text-align: center;
}

.albumsPages p{
    width: 100px;
    font-size: large;
    color: #fcc228;
    opacity: 0.8;
}

.albumsPages p:hover{
    cursor: pointer;
    opacity: 1.0;
}
