.artistProfile{
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    background-color: rgb(38, 0, 53);
    border-radius: 16px;
}

.avatar{
    width: 25%;
    text-align: left;
}

.avatar img{
    width: 200px;
    margin: 16px;
    border-radius: 50%;
}

.artistInfo{
    width: 70%;
    align-items: center;
    text-align: left;
}

.artistInfo h2{
    font-size: larger;
    margin: 10px;
}

.artistInfo p{
    font-size: large;
    margin: 0px;
}
