.artistCard{
    display: flex;
    flex-direction: column;
    font-size: 2em;
    text-align: center;
    color: white;
    background-color: var(--bg-color);
}

.artistTitle{
    margin: 10px;
    background-color: #fcc228;
    color: var(--bg-color);
    text-align: center;
    border-radius: 2px;
}

