.artistProfile{
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    /* background-color: rgb(38, 0, 53); */
    /* border: #fcc228 1px solid; */
    border-radius: 2px;
}

.avatar{
    min-width: 15%;
    max-width: 80%;
    text-align: left;
}

.avatar img{
    width: 200px;
    margin: 16px;
    border-radius: 50%;
}

.artistInfo{
    margin-left: 30px;
    padding: 10px;
    align-items: center;
    text-align: left;
}

.artistInfo h2{
    font-size: 1em;
    margin: 10px;
}

.artistInfo p{
    font-size: 0.5em;
    margin: 0px;
}
