:root {
    --bg-color: #424242;
    --primary-color: #F76C6C;
    --secondary-color: #f76c6c7c;
    font-family: 'Quicksand', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    background-color: var(--bg-color);
    /* align-items: center;
    justify-content: center; */
}







