.album{
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: darkcyan;
    margin: 5px;
    padding: 5px;
}

.album p{
    font-size: small;
    margin: 0px;
}

.album-cover{
    width: 100px;
    height: 100px;
    background-color: darkolivegreen;
}

