.form-title {
    display: block;
    text-align: center;
    color: #202020;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    border: 2px solid #202020;
    border-radius: 9px;
    padding: 4px;
    margin:5px 150px 125px 150px;
}

.form-title:hover {
    color: #FFC228;
    border: 1px solid #FFC228;
    border-radius: 12%;
    padding: 5px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-text {
    color: #202020;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
