.navbar-items {
  padding: 5px;
  background-color: #414141;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.nav-logo:hover {
  color: #ffc228;
  border: 1px solid #ffc228;
  border-radius: 12%;
  padding: 5px;
}

.active {
  color: #ffc228;
}

.nav-logo {
  width: 60px;
  height: 60px;
  color: #c4c4c4;
  padding: 6px;
  background-color: #414141;
  margin: 12px;
}
