.footer-container {
    background-color: #424242;
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    padding-bottom: 15%;
}

.footer { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-buttons {
    color: #C4C4C4;
    padding: 6px;
    background-color: #414141;
    margin: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.footer-buttons:hover {
    color: #FFC228;
    border: 1px solid #FFC228;
    border-radius: 12%;
    padding: 5px;
}

/*.logo {
    width: 15px;
    height: 15px;
}*/
