.navbar-items {
    padding: 5px;
    background-color: #414141;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.nav-buttons {
    color: #C4C4C4;
    padding: 6px;
    background-color: #414141;
    margin: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;

}

.nav-buttons:hover {
    color: #FFC228;
    border: 1px solid #FFC228;
    border-radius: 12%;
    padding: 5px;

}