.Explore {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #414141;
}

.Explore h2 {
  margin: 30px;
  color: #FFC045;
  text-shadow: 0 0 2px #252525;
}

.Explore input {
  margin-bottom: 35px;
  width: 60%;
  border: 2px solid #FFC045;
  border-radius: 5px;
  background-color: #c4c4c4;
  box-shadow: 0 0 2px #252525;
}

.ExploreCardContainer {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


@media screen and (min-width: 620px) {
  .ExploreCardContainer {
    flex-direction: row;
  }
}