.ExploreArtistCard {
  width: 95%;
  height: 100%;
  background-color: #c4c4c4;
  border-radius: 5px;
  box-shadow: 0 0 2px #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.ExploreArtistCard:active {
  box-shadow: 0 0 5px #ffc045;
}

.ExploreArtistCard h3 {
  margin: 5px;
  color: #ffc045;
  text-shadow: 0 0 1px #414441;
}

.ExploreArtistCardContent {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.ExploreArtistCardInfo {
  display: flex;
  flex-flow: wrap column;
}

.ExploreArtistCardInfo p {
  margin: 5px;
}

.ExploreArtistCardContent img {
  width: 25%;
  margin: 5px 30px 5px 5px;
  border-radius: 50%;
  height: fit-content;
}

@media screen and (min-width: 400px) {
  .ExploreArtistCardInfo {
    margin-left: 15%;
  }
  .ExploreArtistCardInfo p {
    font-size: 4vw;
  }
  .ExploreArtistCardContent img {
    margin-left: 5%;
  }
}

@media screen and (min-width: 620px) {
  .ExploreArtistCardInfo {
    width: 60%;
    margin-left: 0;
  }

  .ExploreArtistCardInfo p {
    font-size: 2vw;
  }
}

@media screen and (min-width: 1024px) {
  .ExploreArtistCard {
    width: 100%;
  }

  .ExploreArtistCardContent {
    flex-direction: column;
  }
  .ExploreArtistCardInfo {
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
  .ExploreArtistCardInfo p {
    font-size: 1.2vw;
  }
  .ExploreArtistCardContent img {
    margin: 5px 0;
    width: 35%;
  }
}