.ExploreCard {
  width: 95%;
  /* height: 100%; */
  background-color: #c4c4c4;
  border-radius: 5px;
  box-shadow: 0 0 2px #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
}



.ExploreCard:active {
  box-shadow: 0 0 5px #ffc045;
}

.ExploreCard img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.ExploreCard h3 {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
  font-size: 80%;
  text-shadow: 0 0 1px #414441;
  text-align: center;
  color: #ffc045;
  background-color: rgba(0, 0, 0, 0.5);
}
