body {
    background-color: #414141;
}
.bloc-infos {
    padding: 4px 0;
    background-color: white;
    margin: 2vh;
    border-radius: 30px;
}
.bloc-infos h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}
.bloc-text {
    padding: 4px 2%;
    text-align: left;
}
.bloc-text h3 {
    font-size: 18px;
}
.bloc-text p {
    font-size: 16px;
}
@media screen and (min-width: 400px) {
    .bloc-infos h2 {
        font-size: 28px;
    }
    .bloc-text h3 {
        font-size: 24px;
    }
    .bloc-text p {
        font-size: 18px;
    }
}
