.track {
  min-height: 78vh;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.track h2 {
  margin: 20px 0 30px 0;
}


.trackTitle {
  width: 100%;
  background-color: darkviolet;
  text-align: left;
  color: ghostwhite;
  font-size: small;
  margin: 20px 0;
  border-radius: 2px;
  padding: 6px 0 6px 20px;
}