.trackProfile {
  width: 90%;
}


.trackTitle {
  font-size: 40px;
  margin: 20px 0;
}

.trackContent {
  display: flex;
  padding: 20px;
  height: 30vh;
}

.trackAvatar {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trackAvatar a {
  max-width: fit-content;
  height: 100%;
}
.trackAvatar img {
  max-width: fit-content;
  height: 100%;
}

.trackInfo {
  width: 60%;
  margin-left: 20%;
}
