.track {
  min-height: 78vh;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.track h2 {
  margin: 20px 0 30px 0;
}


.trackTitle {
  width: 80%;
  background: linear-gradient(90deg, darkviolet 0%, rgba(255,255,255,1) 70%, transparent 100%);
  text-align: left;
  color: ghostwhite;
  font-size: large;
  margin: 20px 0;
  border-radius: 2px;
  padding: 6px 20px;
}


@media (min-width: 845px){
  .track {
    min-height: 78vh;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .track h2 {
    margin: 20px 0 30px 0;
  }


  .trackTitle {
    width: 90%;
    padding: 6px 0 6px 20px;
  }
}
@media (min-width: 1280px){
  .trackTitle {
    width:70%
  }
}