.Track-profile {
  width: 90%;
}


.Track-title {
  font-size: 40px;
  margin: 20px 0;
}

.Track-content {
  display: flex;
  padding: 20px;
  height: 30vh;
}

.Track-avatar {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Track-avatar img {
  max-width: fit-content;
  height: 100%;
}

.Track-info {
  width: 60%;
  margin-left: 20%;
}
