.trackProfile {
  width: 90%;
}

.trackContent {
  display: flex;
  padding: 20px;
  height: 30vh;
  margin: 10px 0;
}

.trackAvatar {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trackAvatar a {
  max-width: fit-content;
  height: 100%;
}
.trackAvatar img {
  max-width: fit-content;
  height: 100%;
  border-radius: 50%;
}

.trackInfo {
  width: 60%;
  margin-left: 20%;
}

.trackInfo h2 {
  color: #1e1e1e;
}
