.homeTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkviolet;
    color: ghostwhite;
    text-align: left;
    font-size: large;
    padding: 6px;
}

.homeTop{
display: flex;
flex-wrap: wrap;
}

.homeTopCard{
width: 200px;
margin: 5px;
opacity: 0.8;
}

.homeTopCard:hover {
    opacity: 1;
}

.homeTopCard img{
width: 100%;
border-radius: 5px;
}
