.homeTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(90deg, darkviolet 0%, rgba(255,255,255,1) 70%, transparent 100%);
    color: ghostwhite;
    text-align: left;
    font-size: large;
    padding: 6px;
}

.homeTop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.homeTopCard{
    position: relative;
    width: 16vw;
    margin: 5px;
}

.homeTopCard:hover {
    opacity: 1.0;
}

.homeTopCard p{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #ffc228;
    background-color: rgba(0,0,0, 0.4);
}

.homeTopCard img{
width: 100%;
border-radius: 5px;
}
